#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0px 0px;
  margin: 0px 0px;
  background-color: white;

  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  text-align: center;
}

#tooltip {
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  padding: 11px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
}

#tooltip #tooltitle {
  background-color: white;
  margin-bottom: 3px;
}

#tooltip #tooltext {
}

#value {
  font-weight: bold;
}